*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  
}
/* home */
.home{
  height:100vh;
  width: 100%;
  background-color:darkmagenta;

}
.middlehead{
  height:200px;
  width:100%;
  background-image: url("../component//image//pa2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;     
}


.apply{
  height: 400px;
  width: 100%;
}

.myf{
  margin-top:200px;
}
.card{
  width: 1000px;
  height:600px;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:flex-start;
  align-items: center;
  position: absolute;
}
.bangladeshi1_o{
  display:none;
  margin-left: 100px;
}
.radiob{
  display: flex;
  align-items: center;
  justify-content:center;
  width: 150px;
  flex-direction: column;
  height:100px;
  margin-left:60px;
}
.ghome{
  font-size: 4rem;
 
}
.khoki{
  font-size: 3rem;
}
.native input{
  padding:7px 90px;
  margin-top:5px;
}
.foreign input{
  padding:7px 90px;
  margin-top:5px;
}
.btn{
  padding:8px 15px;
  background-color:seagreen;
  border:none;
  margin-top:20px;
  color: aliceblue;
  font-size:1.05rem;
  
}
.bangladeshi1_o h2{
  margin-bottom:20px;
}
.jahil{
  margin-top:20px;
}
.hnn{
  margin-top:20px;
}
.bangladeshi1_p{
  margin-left:100px;
}
.fuji{
  margin-top:20px;
}
.haji{
  margin-left:100px;
  margin-top:70px
  }
  
 .navbot{
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content:space-around;
height:80px;
width:100%;
background-color: rgb(198, 207, 216);


/* text-align: center; */
}
.navbot li{
  list-style-type: none;

  background-color: aqua;
height:100%;
padding:20px;
 
}
.navbot li a{
  text-decoration: none;

}

.navbot li a:active{
  background-color: brown;
}
